.edicao {
    margin-bottom: 5vmin;
    display: flex;
    width: 100%;
}

#edicao2{
    opacity: 0;
    transition: all 1s;
    margin-top: 5%;
}
#edicao3{
    opacity: 0;
    transition: all 1s;
    margin-top: 5%;
}

.parte_texto {
    float: left;
    width: 70vmin;
    margin-top: 5vmin;
}

.parte_flyer {
    float: right;
    margin-left: 8vmin;
}

.ano {
    font-family: "Brush";
    font-size: 24vmin;
    font-weight: 500;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
    color: transparent;
    margin-bottom: -7.5vmin;
    margin-left: 1.5vw;
    letter-spacing: .25px;
    transition: 0.5s;
    cursor: pointer;
    padding: 0;
}

.one:hover {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: purple;
    text-shadow: 0px 0px 0.3em purple;
}

.two:hover {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(4, 199, 4);
    text-shadow: 0px 0px 0.3em rgb(4, 199, 4);
}

.three:hover {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: red;
    text-shadow: 0px 0px 0.3em red;
}

.edicao1 {
    background-color: white;
    padding: 5px;
    border-radius: 30px;
    width: 100%;
}

.edicao2 {
    background-color: white;
    padding: 5px;
    border-radius: 30px;
    width: 100%;
}

.edicao3 {
    background-color: white;
    padding: 5px;
    border-radius: 30px;
    width: 100%;
}

.edicao1 img {
    border-radius: 25px;
    width: 70vmin;
}

.edicao2 img {
    border-radius: 25px;
    width: 70vmin;
}

.edicao3 img {
    width: 70vmin;
    border-radius: 25px;
}

.edicao3 img:hover {
    opacity: 0.3;
}

.texto1 {
    background-color: white;
    float: right;
    border-radius: 25px;
    padding: 1.5vh 2vw;
}

.texto2 {
    background-color: white;
    float: right;
    border-radius: 25px;
    padding: 1.5vh 2vw;
    margin-top: 110px;
}

.texto1 img {
    height: 12vmin;
}

.texto2 img {
    height: 12vmin;
}

.textoedicoes {
    font-family: "Brush";
    font-size: 15vmin;
    font-weight: bold;
    color: transparent;
    margin-bottom: -2vmin;
    cursor: pointer;
    transition: 0.5s;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
}

.textoedicoes:hover {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    text-shadow: 0px 0px 0.3em white;
}

@media (max-width: 1196px) {
    .parte_texto {
        float: none;
        width: 100%;
        margin-top: 0;
        margin-left: 0;
    }

    .parte_flyer {
        float: none;
        margin-left: 0;
    }

    .ano {
        margin-left: 0;
    }

    .edicao {
        margin-bottom: 1.5vmin;
        flex-wrap: wrap;
    }

    .edicao1 img {
        width: 100%;
        height: auto;
    }

    .edicao2 img {
        width: 100%;
        height: auto;
    }

    .edicao3 img {
        width: 100%;
        height: auto;
    }
}