.edicao {
    margin-bottom: 5vmin;
    display: flex;
    width: 100%;
}

#edicao2{
    opacity: 0;
    transition: all 1s;
    margin-top: 5%;
}
#edicao3{
    opacity: 0;
    transition: all 1s;
    margin-top: 5%;
}

.parte_texto {
    float: left;
    width: 70vmin;
    margin-top: 5vmin;
}

.parte_flyer {
    float: right;
    margin-left: 8vmin;
}

.ano {
    font-family: "Brush";
    font-size: 24vmin;
    font-weight: 500;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
    color: transparent;
    margin-bottom: -7.5vmin;
    margin-left: 1.5vw;
    letter-spacing: .25px;
    transition: 0.5s;
    cursor: pointer;
    padding: 0;
}

.one:hover {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: purple;
    text-shadow: 0px 0px 0.3em purple;
}

.two:hover {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(4, 199, 4);
    text-shadow: 0px 0px 0.3em rgb(4, 199, 4);
}

.three:hover {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: red;
    text-shadow: 0px 0px 0.3em red;
}

.edicao1 {
    background-color: white;
    padding: 5px;
    border-radius: 30px;
    width: 100%;
}

.edicao2 {
    background-color: white;
    padding: 5px;
    border-radius: 30px;
    width: 100%;
}

.edicao3 {
    background-color: white;
    padding: 5px;
    border-radius: 30px;
    width: 100%;
}

.edicao3 span{
    position: absolute;
    left: 55%;
    margin-top: 10%;
    font-size: 10vmin;
    opacity: 0;
    transition: opacity 1s;
    font-weight: 900;
    color: rgba(0,0,0,0.8);
    filter: drop-shadow(2px 4px 6px black);
}

.edicao1 img {
    border-radius: 25px;
    width: 70vmin;
}

.edicao2 img {
    border-radius: 25px;
    width: 70vmin;
}

.edicao3 img {
    width: 70vmin;
    border-radius: 25px;
}

.texto1 {
    background-color: white;
    float: right;
    border-radius: 25px;
    padding: 1.5vh 2vw;
}

.texto2 {
    background-color: white;
    float: right;
    border-radius: 25px;
    padding: 1.5vh 2vw;
    margin-top: 110px;
}

.texto1 img {
    height: 12vmin;
}

.texto2 img {
    height: 12vmin;
}

.textoedicoes {
    font-family: "Brush";
    font-size: 15vmin;
    font-weight: bold;
    color: transparent;
    margin-bottom: -2vmin;
    cursor: pointer;
    transition: 0.5s;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
}

.textoedicoes:hover {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    text-shadow: 0px 0px 0.3em white;
}

@media (max-width: 1196px) {
    .parte_texto {
        float: none;
        width: 100%;
        margin-top: 0;
        margin-left: 0;
    }

    .parte_flyer {
        float: none;
        margin-left: 0;
    }

    .ano {
        margin-left: 0;
    }

    .edicao {
        margin-bottom: 1.5vmin;
        flex-wrap: wrap;
    }

    .edicao1 img {
        width: 100%;
        height: auto;
    }

    .edicao2 img {
        width: 100%;
        height: auto;
    }

    .edicao3 img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 1894px){
    .edicao3 span{
        left: 52%;
        margin-top: 9%;
    }
}
@media (max-width: 1594px){
    .edicao3 span{
        left: 55%;
        margin-top: 11%;
    }
}
@media (max-width: 1364px){
    .edicao3 span{
        left: 52%;
        margin-top: 13%;
    }
}
@media (max-width: 1195px){
    .edicao3 span{
        left: 23%;
        margin-top: 20%;
        font-size: 15vmin;
    }
}
@media (max-width: 1100px){
    .edicao3 span{
        left: 21%;
        margin-top: 22%;
    }
}
@media (max-width: 991px){
    .edicao3 span{
        left: 26%;
        margin-top: 19%;
        font-size: 12vmin;
    }
}
@media (max-width: 901px){
    .edicao3 span {
        left: 22%;
        margin-top: 19%;
        font-size: 12vmin;
    }
}
@media (max-width: 801px){
    .edicao3 span {
        margin-top: 23%;
    }
}
@media (max-width: 768px){
    .edicao3 span {
        left: 28%;
        margin-top: 19%;
        font-size: 9vmin;
    }
}
@media (max-width: 768px){
    .edicao3 span {
        margin-top: 23%;
    }
}