body {
    background-color: #181818;
}

.graficos {
    display: flex;
    flex-wrap: wrap;
}

canvas {
    border: 2px solid white;
    padding: 3vmin 0;
    border-radius: 2vmin;
    transition: transform 1s;
}

hr {
    border-color: rgba(255, 255, 255, 0.3);
    margin-top: 4vmin;
}

h3 {
    font-size: 3.5vmin;
    margin-top: 3vmin;
}

h1 {
    font-size: 5vmin;
}

.gra {
    width: 50%
}

.cima  {
    margin-top: 4vmin;
    width: 100%;
}

.meio {
    margin-top: 5vmin;
    width: 100%;
}

.baixo {
    margin-top: 5vmin;
    width: 100%;
}

@media (max-width: 991px){
    .gra {
        width: 100%;
    }
}

@media (max-width: 466px){
    canvas:hover{
        transform: scale(1.28)
    }
}
