body {
    background-color: black;
    overflow-x: hidden;
}

.collapse:not(.show) {
    display: block;
}

::-webkit-scrollbar{
    width: 7px
}
::-webkit-scrollbar-track{
    background-color: #232323;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(255, 0, 0, 0.7);
    border-radius: 50px;
}


ul {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "Brush";
    src: url(../fonts/brush-script-mt-italic.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

nav {
    height: 14vmin;
    overflow: hidden;
    width: 98%;
    background-image: linear-gradient(180deg, red, black, black, black, black, black, black, black, red);
    z-index: 1;
    padding-bottom: 1.5vmin;
    left: 1%;
    position: fixed!important;
    border-bottom-left-radius: 10vmin;
    border-bottom-right-radius: 10vmin;
    color: white;
    transition: 0.5s;
}

#buttonnav {
    background-color: transparent;
    outline: none;
    font-size: 6vmin;
    margin-top: 0.6%;
    transition: 0.3s;
    color: white;
}

#buttonnav:hover {
    color: red;
    text-shadow: 0px 0px 0.2em red;
}

#navbar ul {
    width: 811px;
    padding-top: 0.4vmin;
    margin: auto
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    transition: 0.3s;
    font-family: "Poppins", sans-serif;
}

nav img {
    height: 10vmin;
}

#logoeze2 {
    display: none;
}

#logoeze:hover {
    transform: scale(1.08);
}

#logoeze {
    display: block;
    transition: 0.5s;
    cursor: pointer;
}

#navbar a:hover {
    color: red;
    text-decoration: none;
    text-shadow: 0px 0px 0.3em red, 0px 0px 0.3em red;
    cursor: pointer;
}

#navbar .esquerda {
    float: left;
    margin-right: 5%;
    margin-top: 0.6vmin;
    font-size: 4vmin;
}

#navbar .direita {
    float: right;
    margin-left: 5%;
    margin-top: 0.6vmin;
    font-size: 4vmin;
}

.headerL {
    width: 92%;
    margin: auto;
}

main {
    text-align: center;
}

footer {
    padding-bottom: 25px;
}

footer img {
    height: 10vmin;
}

footer p {
    font-size: 2.2vmin;
    font-weight: 650;
}

footer i {
    margin: 0.7vmin;
    margin-top: 2.4vmin;
    font-size: 4.8vmin;
    transition: 0.3s;
}

.mainp {
    margin-top: 70px;
}

footer i:hover {
    color: red;
    text-shadow: 0px 0px 0.2em red;
}

/* Responsividade_________________________________________________________________________________________________________________________ */
@media (max-width: 856px){
    #navbar .esquerda,#navbar .direita{
        font-size: 3.6vmin
    }
}


@media (max-width: 767px) {
    #logoeze2 {
        display: block;
        margin-top: 0.7vmin;
        transition: 0.5s;
        cursor: pointer;
    }
    #logoeze2:hover {
        transform: scale(1.08);
    }
    
    #logoeze {
        display: none;
    }
    #navbar .esquerda {
        margin-right: 0;
        font-size: 4vmin;
    }
    #navbar .direita {
        margin-left: 0;
        font-size: 4vmin;
    }
    #navbar ul {
        width: 90%;
        padding-top: 0.6%;
        margin-left: 0;
        padding-bottom: 1.5%;
    }
}