body {
    background-color: black;
    overflow-x: hidden;
}

ul {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "Brush";
    src: url(../fonts/brush-script-mt-italic.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

nav {
    height: auto;
    width: 98%;
    background-image: linear-gradient(180deg, red, black, black, black, black, red);
    z-index: 1;
    left: 1%;
    position: fixed!important;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    color: white;
    transition: 0.5s;
}

#buttonnav {
    background-color: transparent;
    outline: none;
    font-size: 33px;
    margin-top: 0.6%;
    margin-right: 2%;
    transition: 0.3s;
    color: white;
}

#buttonnav:hover {
    color: red;
    text-shadow: 0px 0px 0.2em red;
}

#navbar ul {
    width: 811px;
    padding-top: 0.6%;
    margin: auto
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

nav img {
    height: 70px;
}

#logoeze2 {
    display: none;
}

#logoeze:hover {
    transform: scale(1.08);
}

#logoeze {
    display: block;
    transition: 0.5s;
    cursor: pointer;
}

#navbar a:hover {
    color: red;
    text-decoration: none;
    text-shadow: 0px 0px 0.3em red, 0px 0px 0.3em red;
    cursor: pointer;
}

#navbar .esquerda {
    float: left;
    margin-right: 5%;
    margin-top: 0.6%;
    font-size: 30px;
}

#navbar .direita {
    float: right;
    margin-left: 5%;
    margin-top: 0.6%;
    font-size: 30px;
}

.headerL {
    padding-top: 80px;
    width: 92%;
    margin: auto;
}

.alert-primary {
    color: white;
    background-image: linear-gradient(180deg, red, black, black, black, red);
}

.border {
    border: 1px solid black!important;
}

footer {
    padding-bottom: 25px;
}

footer img {
    height: 85px;
}

footer p {
    font-size: 16px;
}

footer i {
    margin: 6px;
    margin-top: 20px;
    font-size: 35px;
    transition: 0.3s;
}

.mainp {
    margin-top: 70px;
}

footer i:hover {
    color: red;
    text-shadow: 0px 0px 0.2em red;
}

/* Responsividade_________________________________________________________________________________________________________________________ */
@media (max-width: 856px){
    #navbar .esquerda,#navbar .direita{
        font-size: 26px
    }
}


@media (max-width: 767px) {
    #logoeze2 {
        display: block;
        padding-top: 0.6%;
        margin-top: 0.6%;
        transition: 0.5s;
        cursor: pointer;
    }
    #logoeze2:hover {
        transform: scale(1.08);
    }
    
    #logoeze {
        display: none;
    }
    #navbar .esquerda {
        margin-right: 0;
        font-size: 22px;
    }
    #navbar .direita {
        margin-left: 0;
        font-size: 22px;
    }
    #navbar ul {
        width: 90%;
        padding-top: 0.6%;
        margin-left: 0;
        padding-bottom: 1.5%;
    }
}