::-webkit-scrollbar{
    width: 7px
}
::-webkit-scrollbar-track{
    background-color: #232323;
}
::-webkit-scrollbar-thumb{
    background-color: white;
}
body{
    scroll-behavior: smooth;
}

td h1 {
    margin-left: 0;
}

.form-group {
    font-weight: bold;
}

.adicionar {
    width: 60vmin;
    text-align: left;
}

.promoters {
    display: flex;
    flex-wrap: wrap;
    margin: 0 5vmin; 
    transition: all .5s;
}

.container {
    padding-bottom: 0;
}

.promoter {
    border: 2px red solid;
    border-radius: 5vmin;
    width: 30vmin;
    height: 32vmin;
    margin: 1vmin 3vmin;
    padding-bottom: 2.5vmin;
    transition: all .5s;
    overflow: hidden;
    box-shadow: red 0em 0em 0.65em;
}

.promoter h5 {
    font-size: 2.9vmin;
    margin-top: 1vmin;
}

.promoter h6 {
    font-size: 2.3vmin;
}

.promoter img {
    height: 10vmin;
}

.titulo {
    font-size: 6vmin;
}

.mensagem {
    opacity: 0;
    transition: 1s;
}

.promoter i {
    font-size: 4vmin;
    margin-bottom: .4vmin;
    margin-top: 1vmin;
    cursor: pointer;
    transition: 1s;
}

.promoter i:hover {
    color: red;
    filter: drop-shadow(0px 0px 5px red);
}

.container {
    margin: 4.5vmin auto 2vmin auto;
}

.adicionarp i{
    font-size: 9vmin;
    margin-bottom: 3vmin;
    transition: 0.3s;
    cursor: pointer;
}

.adicionarp i:hover {
    color: red;
    filter: drop-shadow(0px 0px 5px red);
}

.formexcluir {
    opacity: 0;
    transition: 0.4s;
}

#formularioadd {
    display: none;
    width: 30vmin;
    margin: 2.5vmin;
    opacity: 0;
    transition: 0.8s;
}

#formularioadd i {
    font-size: 4.3vmin;
    float: right;
}

#formularioadd label {
    margin-bottom: 0;
}

#add {
    transition: 1s;
}

@media(max-width: 1200px){
    .promoters {
        width: 70%;
        margin-left: 15%;
    }
}

@media(max-width: 990px){
    .promoters {
        width: 80%;
        margin-left: 10%;
    }

    .promoter {
        width: 60vmin;
        height: auto;
        margin: 2vmin 3vmin;
    }
}

/* @media (max-width: 767px){
    .promoter {
        margin-left: 27.5%;
    }
} */
