*{
    border: 0;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar{
    width: 7px
}
::-webkit-scrollbar-track{
    background-color: #232323;
}
::-webkit-scrollbar-thumb{
    background-color: white;
}
body{
    scroll-behavior: smooth;
}

body{
    background-color: black;
    text-align: center;
}

.p-5 {
    padding: 0rem!important;
}

.pai{
    height: 92vh;
    width: 100%;
    margin-bottom: 8vh;
    background-color: black;
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
    color: white
}

.pai .img{
    height: 40%;
    width: 20%;
    background-color: black;
    border: 2px solid white;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    margin-left: 9%;
    font-size: 50px;
    text-align: center;
    background-position: center center;
    background-size: cover;
}

.pai .img img{
    height: 65%;
    width: 62%;
    margin-top: 3%;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px black;
}

.info{
    height: 40%;
    width: 61.5%;
    margin-left: 0.5%;
    display: flex;
    flex-wrap: wrap;
    background-image: radial-gradient( circle farthest-corner at 50% 50%, rgb(226, 0, 0) -29%, rgb(0, 0, 0) 96.8% );
    border: 2px solid white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.info .dados{
    width: 100%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
}

.info .dados .dado1{
    width: 50%;
    height: 100%;
    padding: 2%;
    text-align: center;
    border-right: 1px solid white;
}

.info .dados .dado1 p{
    width: 100%;
    height: 50%;
    margin: 0;
    margin-top: 10%;
    font-size: 22px;
}

.info .dados .dado2{
    width: 50%;
    height: 100%;
    padding: 2%;
    text-align: center;
    border-left: 1px solid white;
}

.info .dados .dado2 p{
    width: 100%;
    height: 50%;
    margin: 0;
    margin-top: 10%;
    font-size: 22px;
}

.info .alterar{
    height: 30%;
    width: 100%;
    text-align: center;
    position: relative;
}

.info .alterar img{
    height: 60%;
    width: 100%;
    border-radius: 5px;
}

.info .alterar form input{
    border-radius: 4px;
    border: 2px solid white;
    background-color: black;
    text-align: center;
    margin-bottom: 2%;
    color: white;
}

.info .alterar form button{
    border-radius: 4px;
    border: 2px solid white;
    background-color: black;
    text-align: center;
    margin-bottom: 2%;
    color: white;
    width: 20%;
}

.info .alterar span{
    position: absolute;
    top: -242%;
    left: 77%;
    cursor: pointer;
    color: white;
    font-size: 25px;
    font-weight: 800;
    display: none;
}

.info .alterar .AjudaCard{
    position: absolute;
    top: -231%;
    left: 24%;
    background-color: black;
    width: 52%!important;
    display: none;
    opacity: 0;
    transition: opacity 1s;
    box-shadow: 0px 0px 6px 0px white
}

.info .alterar .editar{
    height: 80%;
    width: 80%;
    margin-top: 1%;
    margin-left: 10%;
    cursor: pointer;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 12px;
    transition: 1s;
    font-size: 25px;
    position: relative;
}

.info .alterar .editar button{
    width: 33%;
    height: 66%;
    text-align: center;
    font-size: 17px;
    position: relative;
    border-radius: 10px;
    background-color: transparent;
    border-left: 2px solid white;
    border-right: 2px solid white;
    color: white;
}

.info .alterar .editar button:hover{
    color: red;
    cursor: pointer;
}

.info .alterar .editar:hover{
    background-color: black;
}

.dash{
    margin-left: 9%;
    height: 55%;
    width: 82%;
    background-image: linear-gradient(180deg, black 33%, rgba(255,255,255, 0.1));
    border: 2px solid white;
    border-top: none;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dash .grafico1{
    height: 100%;
    width: 20%;
    text-align: center;
    border-right: 2px solid white;
}

.dash .grafico1 p{
    margin-bottom: 0;
    height: 10%;
    width: 100%;
    font-size: 24px;
}

.dash .grafico1 .grafico10{
    height: 90%;
    width: 100%;
}
.dash .grafico1 .grafico10 label{
    height: 10%;
    width: 100%;
    font-size: 21px;
}
.dash .grafico1 .grafico10 img{
    height: 80%;
    width: 100%;
}

.dash .grafico2{
    height: 100%;
    width: 40%;
    border-right: 2px solid white;
}

.dash .grafico2 .can{
    margin-top: -10px;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.dash .grafico3{
    height: 100%;
    width: 40%;
}

/* RESPONSIVIDADE ________________________________________________________________________________ */

@media (max-width: 1200px){
    .pai .img img {
        margin-bottom: 8%;
    }
}

@media (max-width: 854px){
    .dash .grafico1 .grafico10 img {
        display: none;
    }

    .pai .img img {
        height: 56%;
        width: 48%;
        margin-top: 12%;
        border-radius: 50%;
        box-shadow: 0px 0px 10px 0px black;
        margin-bottom: 0%;
    }

    .dash .grafico2 .can {
        margin-top: 5px;
    }

    .pai .img {
        height: 50%;
        width: 80%;
        margin-bottom: 1%;
        margin-left: 10%;
        font-size: 50px;    
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .info {
        width: 80%;
        height: 30%;
        margin-left: 10%;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
        margin-bottom: 1%;
    }

    .pai{
        height: 100vh;
        margin-bottom: 50vh;
    }

    .dash{
        margin-left: 10%;
        height: 70%;
        width: 80%;
    }

    .dash .grafico1 {
        height: 20%;
        width: 50%;
        border-right: none;
    }

    .dash .grafico2 {
        height: 50%;
        width: 50%;
        padding: 2%;
        border-right: none;
        border-left: 2px solid white;
    }

    .dash .grafico3 {
        height: 50%;
        width: 100%;
    }

    .dash .grafico1 p {
        height: 38%;
        margin-top: 2%;
    }

    .info .alterar .AjudaCard {
        left: 12.5%;
        width: 75%!important;
    }
    
    .info .alterar form button {
        width: 50%;
    }

    .info .alterar span {
        left: 90%;
    }
}

@media (max-width: 695px){
    .pai .img img {
        height: 50%;
        width: 70%;
        margin-top: 14%;
        margin-left: 2%;
        object-fit: cover;
        border-radius: 6%;
        margin-bottom: 5%;
    }
}

@media (max-width: 500px){
    .pai .img img {
        width: 70%;
        border-radius: 50%;
        height: 53%;
        margin-bottom: 12%;
    }

    .dash .grafico2 {
        width: 60%;
    }

    .dash .grafico1 {
        width: 40%;
    }

    .dash .grafico1 p {
       margin-top: 35%;
    }
}