{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="../static/edicoes.css">{% endblock %}

<!-- {% block title %}
    Index
{% endblock %} -->

{% block main %}
<div class="edicao">
    <div class="seboso">
        <h1 class="textoedicoes"><i>edições</i></h1>
        <div class="texto">
            <img src="../static/img/logoeze1.png" alt="">
            <p><br>A primeira edição da EZE trouxe a experiência de uma festa fora do comum, realizada em Junho de 2019
                trouxe diversas pessoas para uma casa com piscina no bairro do Guarapiranga, open bar e 8 horas de festa
                para a comemoração do
                inicio das férias de inverno. A festa marcou o começo da tradição de ocorrer a festa como comemoração de
                ínicio das férias.
            </p>
        </div>
    </div>
    <div class="edicoes">
        <h1 class="ano">2019</h1>
        <div class="flyer"><img src="../static/img/edições eze/ezeclean.jpg" alt=""></div>
    </div>
</div>
<div class="edicao">
    <div class="seboso">
        <div class="texto2">
            <img src="../static/img/logoeze2.png" alt="">
            <p><br>A segunda edição foi realizada em Dezembro de 2019 para comemorar o fim do ano letivo. Com 12 horas
                de festa e realizada no mesmo local da sua anterior, teve o público duas vezes maior do que a primeira
                edição.</p>
        </div>
    </div>
    <div class="edicoes">
        <h1 class="ano">2019</h1>
        <div class="edicao2"><img src="../static/img/edições eze/eze2.png" alt=""></div>
    </div>
</div>
<div class="edicao">
    <div class="seboso">
        <div class="texto2">
            <img src="../static/img/Ativo 1.png" alt="">
            <p><br>
                Prometendo ser a melhor edição, a terceira edição da EZE party ainda não possui data e nem local
                confirmado, devido ao atual momento. Porém o público poderá esperar uma edição completamente diferente e
                inovadora.</p>
        </div>
    </div>
    <div class="edicoes">
        <h1 class="ano">202?</h1>
        <div class="edicao3"><img src="../static/img/edições eze/IMG_5424.JPG" alt=""></div>
    </div>
</div>

{% endblock %}