{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="../static/edicoes.css">{% endblock %}

{% block title %}
    Edições
{% endblock %}

{% block main %}
<div class="edicao" id="edicao1">
    <div class="parte_texto">
        <h1 class="textoedicoes"><i>edições</i></h1>
        <div class="texto1">
            <img src="../static/img/logoeze1.png" alt="">
            <p><br>A primeira edição da EZE trouxe a experiência de uma festa fora do comum, realizada em Junho de 2019
                trouxe diversas pessoas para uma casa com piscina no bairro do Guarapiranga, open bar e 8 horas de festa
                para a comemoração do
                inicio das férias de inverno. A festa marcou o começo da tradição de ocorrer a festa como comemoração de
                ínicio das férias.
            </p>
        </div>
    </div>
    <div class="parte_flyer">
        <h1 class="ano one">2019</h1>
        <div class="edicao1"><img src="../static/img/edições eze/ezeclean.jpg" alt=""></div>
    </div>
</div>
<div class="edicao" id="edicao2">
    <div class="parte_texto">
        <div class="texto2">
            <img src="../static/img/logoeze2.png" alt="">
            <p><br>A segunda edição foi realizada em Dezembro de 2019 para comemorar o fim do ano letivo. Com 12 horas
                de festa e realizada no mesmo local da sua anterior, teve o público duas vezes maior do que a primeira
                edição.</p>
        </div>
    </div>
    <div class="parte_flyer">
        <h1 class="ano two">2019</h1>
        <div class="edicao2"><img src="../static/img/edições eze/eze2.png" alt=""></div>
    </div>
</div>
<div class="edicao" id="edicao3">
    <div class="parte_texto">
        <div class="texto2">
            <img src="../static/img/Ativo 1.png" alt="">
            <p><br>
                Prometendo ser a melhor edição, a terceira edição da EZE party ainda não possui data e nem local
                confirmado, devido ao atual momento. Porém o público poderá esperar uma edição completamente diferente e
                inovadora.</p>
        </div>
    </div>
    <div class="parte_flyer">
        <h1 class="ano three">202?</h1>
        <div class="edicao3"><img src="../static/img/edições eze/eze3.png" alt=""></div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

<script>

// let item1 = edicao3.getBoundingClientRect();
// console.log(item1)

function subir2(){
    let sy = window.scrollY
    let altura = $("#edicao2").offset().top

    if(sy > (altura - 500)){
        edicao2.style.opacity = '1';
        edicao2.style.marginTop = '0%';
    }
    else{
        edicao2.style.opacity = '0';
        edicao2.style.marginTop = '5%';
    }

    let altura2 = $("#edicao3").offset().top

    if(sy > (altura2 - 500)){
        edicao3.style.opacity = '1';
        edicao3.style.marginTop = '0%';
    }
    else{
        edicao3.style.opacity = '0';
        edicao3.style.marginTop = '5%';
    }
}
window.onscroll = subir2;

</script>
{% endblock %}