<!DOCTYPE html>

<html lang="pt-br">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="../static/img/favicon.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/c8284bd1fb.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/layout.css">
    {% block head %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <title>EZE party -{% block title %}{% endblock %}</title>

</head>

<body>
    <nav id="navbarbg" class="navbar navbar-expand-md navbar-light">
        <a href="/"><img id="logoeze2" src="../static/img/logo.png" alt=""></a>
        <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            id="buttonnav" data-target="#navbar" data-toggle="collapse" type="button" onclick="diminuir()">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto mt-2">
                <li class="nav-item esquerda"><a href="/edicoes">Edições</a></li>
                <li class="nav-item esquerda"><a href="/comprar">Comprar</a></li>
                <a href="/"><img id="logoeze" src="../static/img/logo.png"></a>
                <li class="nav-item direita"><a href="/login_promoter">Promoter</a></li>
                <li class="nav-item direita"><a href="/login_organizador">Organizador</a></li>
            </ul>
        </div>
    </nav>

    {% block index %}

    <main class="container p-5">
        <div class="mainp">
            {% if get_flashed_messages() %}
            <div class="headerL">
                <div class="alert alert-primary border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </div>
            {% endif %}
            {% block main %}{% endblock %}
        </div>
    </main>

    {% endblock %}
    <footer class="small text-center text-muted Footerindex">
        <img src="../static/img/logo.png" alt=""> <br>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-youtube"></i> <br><br>
        <p>Copyrigth &copy; EZE party.<br>
            Todos os direitos reservados.</p>
    </footer>
</body>

</html>

<script>
    function diminuir() {
        navbarbg.style.height = '50vmin'
        navbarbg.style.backgroundImage = 'linear-gradient(180deg, red, black, black, black,black,black,black,black,black,black,black,black, black, black, black, red)'
        buttonnav.setAttribute('onclick', 'aumentar()')
    }

    function aumentar() {
        navbarbg.style.height = '14vmin'
        navbarbg.style.backgroundImage = 'linear-gradient(180deg, red, black, black, black, black, black, black, black, red)'
        buttonnav.setAttribute('onclick', 'diminuir()')
    }


    setInterval(() => {
        if (screen.width > 767) {
            aumentar();
        }
    }, 1);
</script>