<!DOCTYPE html>

<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
    <link href="/static/favicon.ico" rel="icon">
    <script src="https://kit.fontawesome.com/c8284bd1fb.js" crossorigin="anonymous"></script>

    <link href="/static/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/layout.css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <title></title>

</head>

<body>

    <div class="navL" id="navL">
        <div class="containerL">
            <ul class="listaL">
                <li class="esquerda">Edições</li>
                <li class="esquerda">Comprar</li>
                <li><img src="../static/img/logo.png"></li>
                <li class="direita">Promoter</li>
                <li class="direita">Organizador</li>
            </ul>
            
            <img src="../static/img/logo.png" class="logoResponse">
            <i onclick="header()" id="abrir" class="fas fa-bars iconResponse"></i>
            <i onclick="headerFec()" id="fechar" class="fas fa-bars iconresFec"></i>
            <br><br><br>
            <ul class="listaLResponse" id="lres">
                <li class="esquerda">Edições</li>
                <li class="esquerda">Comprar</li>
                <li class="direita">Promoter</li>
                <li class="direita">Organizador</li>
            </ul>
        </div>
    </div>

    {% if get_flashed_messages() %}
    <div class="headerL">
        <div class="alert alert-primary border text-center" role="alert">
            {{ get_flashed_messages() | join(" ") }}
        </div>
    </div>
    {% endif %}

    <main class="container p-5">
        {% block main %}{% endblock %}
    </main>

</body>

</html>

<script>

    function header(){
        navL.style.transition = 'height 1s'
        navL.style.height = '248px'
        setTimeout(() => {
            lres.style.display = 'block'; 
        }, 900);
        abrir.style.display = 'none'
        fechar.style.display = 'block';
        navL.style.backgroundImage = 'linear-gradient(180deg, red, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, red)'
    }

    function headerFec(){
        lres.style.display = 'none';
        fechar.style.display = 'none'
        abrir.style.display = 'block';
        navL.style.transition = 'height 1s'
        navL.style.height = '80px'
        navL.style.backgroundImage = 'linear-gradient(180deg, red, black, black, black, red)'
    }
</script>