{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="../static/login.css">
{% endblock %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <h1><i>Organizador</i></h1>
    <form action="/login_organizador" method="POST">
        <input tabindex="1" name="email" autofocus placeholder="Email" type="email" required><br>
        <input tabindex="2" name="senha" placeholder="Senha" type="password" required><br>
        <button class="btn btn-danger btnIndex" tabindex="3" type="submit">Entrar</button>
    </form>
{% endblock %}