{% extends "layout1.html" %}
{% block css %}
<link rel="stylesheet" href="../static/organizador.css">
{% endblock %}

{% block title %}
{{organizador[0]["nome"]}}
{% endblock %}
{% block main %}

<h1>Lotação {{contagem[0]["count"]}}/300</h1>
<br>
<h1 style="float: left;">Lote 1</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nº</th>
            <th scope="col">Nome</th>
            <th scope="col">Sexo</th>
            <th scope="col">Data da Compra</th>
            <th scope="col"> </th>
        </tr>
    </thead>
    <tbody>
        {% for i in lista1 %}
        <tr>
            <td>{{i["idLista"]}}</td>
            <td>{{i["nomeCliente"]}}</td>
            <td>{{i["sexo"]}}</td>
            <td>{{i["dataCompra"]}}</td>
            <td>
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                    aria-haspopup="true" style="color: white;" aria-expanded="false">Editar</a>
                <div class="dropdown-menu">
                    <h6 class="dropdown-header">{{i["nomeCliente"]}}</h6>
                    <div class="dropdown-divider"></div>
                    <form action="/organizador" method="POST" class="px-4 py-3">
                        <div class="form-group">
                            <label for="nome">Nome</label>
                            <input type="text" name="nome" class="form-control" id="nome" placeholder="Novo Nome">
                        </div>
                        <div class="form-group">
                            <label for="">Sexo</label><br>
                            <input value="M" type="radio" name="sexo" id="m"> <label for="m">Masculino</label><br>
                            <input value="F" type="radio" name="sexo" id="f"> <label for="f">Feminino</label>
                        </div>
                        <button value="{{i['idLista']}}" name="editar" type="submit"
                            class="btn btn-danger">Editar</button>
                    </form>
                    <form class="px-4 py-3" method="POST" action="/organizador">
                        <button value="{{i['idLista']}}" name="excluir" type="submit" class="btn btn-danger">Excluir
                            pessoa da lista <i class="fas fa-trash-alt"></i></button>
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}
        {% if tamanho2 != 0 %}
        <tr>
            <td>
                <h1>Lote 2</h1>
            </td>
            <td colspan="4"></td>
        </tr>
        {% for i in lista2 %}
        <tr>
            <td>{{i["idLista"]}}</td>
            <td>{{i["nomeCliente"]}}</td>
            <td>{{i["sexo"]}}</td>
            <td>{{i["dataCompra"]}}</td>
            <td>
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                    aria-haspopup="true" style="color: white;" aria-expanded="false">Editar</a>
                <div class="dropdown-menu">
                    <h6 class="dropdown-header">{{i["nomeCliente"]}}</h6>
                    <div class="dropdown-divider"></div>
                    <form action="/organizador" method="POST" class="px-4 py-3">
                        <div class="form-group">
                            <label for="nome">Nome</label>
                            <input type="text" name="nome" class="form-control" id="nome" placeholder="Novo Nome">
                        </div>
                        <div class="form-group">
                            <label for="">Sexo</label><br>
                            <input value="M" type="radio" name="sexo" id="m"> <label for="m">Masculino</label><br>
                            <input value="F" type="radio" name="sexo" id="f"> <label for="f">Feminino</label>
                        </div>
                        <button value="{{i['idLista']}}" name="editar" type="submit"
                            class="btn btn-danger">Editar</button>
                    </form>
                    <form class="px-4 py-3" method="POST" action="/organizador">
                        <button value="{{i['idLista']}}" name="excluir" type="submit" class="btn btn-danger">Excluir
                            pessoa da lista <i class="fas fa-trash-alt"></i></button>
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
        {% if tamanho3 != 0 %}
        <tr>
            <td>
                <h1>Lote 3</h1>
            </td>
            <td colspan="4"></td>
        </tr>
        {% for i in lista3 %}
        <tr>
            <td>{{i["idLista"]}}</td>
            <td>{{i["nomeCliente"]}}</td>
            <td>{{i["sexo"]}}</td>
            <td>{{i["dataCompra"]}}</td>
            <td>
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                    aria-haspopup="true" style="color: white;" aria-expanded="false">Editar</a>
                <div class="dropdown-menu">
                    <h6 class="dropdown-header">{{i["nomeCliente"]}}</h6>
                    <div class="dropdown-divider"></div>
                    <form action="/organizador" method="POST" class="px-4 py-3">
                        <div class="form-group">
                            <label for="nome">Nome</label>
                            <input type="text" name="nome" class="form-control" id="nome" placeholder="Novo Nome">
                        </div>
                        <div class="form-group">
                            <label for="">Sexo</label><br>
                            <input value="M" type="radio" name="sexo" id="m"> <label for="m">Masculino</label><br>
                            <input value="F" type="radio" name="sexo" id="f"> <label for="f">Feminino</label>
                        </div>
                        <button value="{{i['idLista']}}" name="editar" type="submit"
                            class="btn btn-danger">Editar</button>
                    </form>
                    <form class="px-4 py-3" method="POST" action="/organizador">
                        <button value="{{i['idLista']}}" name="excluir" type="submit" class="btn btn-danger">Excluir
                            pessoa da lista <i class="fas fa-trash-alt"></i></button>
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
<div class="adicionar">
    <h1>Adicionar Nome:</h1>
    <form action="/organizador" method="POST">
        <div class="form-group">
            <input name="nome" type="text" class="form-control" id="" placeholder="Nome">
        </div>
        <div class="form-group">
            <label for="">Sexo</label><br>
            <input value="M" type="radio" name="sexo" id="m"> <label for="m">Masculino</label><br>
            <input value="F" type="radio" name="sexo" id="f"> <label for="f">Feminino</label>
        </div>
        <div class="form-group">
            <label for="">Lote</label>
            <select name="lote" class="form-control" id="">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <div class="form-group">
            <input name="data" placeholder="AAAA-MM-DD" class="form-control" type="text">
        </div>
        <button name="adicionar" type="submit" class="btn btn-danger">Adicionar</button>
    </form>
</div>

{% endblock %}

{% block img_header %}
{{organizador[0]["urlIMG"]}}
{% endblock %}

{% block nome_header %}
{{organizador[0]["nome"]}}
{% endblock %}

{% block nav %}
<li class="nav-item active">
    <a class="nav-link" href="/organizador">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/organizador/promoters">Promoters</a>
</li>
{% endblock %}