{% extends "layout1.html" %}
{% block css %}
<link rel="stylesheet" href="../static/organizador.css">
{% endblock %}

{% block title %}
Promoters
{% endblock %}
{% block main %}
<h1 class="titulo">Promoters</h1>
<div class="promoters">
    {% for i in promoters %}
    <div id="divint{{i['id']}}" class="promoter">
        <div class="container">
            <img src="{{i['urlIMG']}}" alt="">
            <h5>{{i["nome"]}}</h5>
            <h6>Vendidos: {{i["count"]}}/50</h6>
        </div>
        {% if i["nome"] != 'Raylove' %}
        <form id="formulario{{i['id']}}" action="/organizador/promoters" method="POST">
            <input type="hidden" value="{{i['id']}}" name="excluir"></input>
        </form>
        <i onclick="mensagem({{i['id']}})" id="lixeira{{i['id']}}" title="Excluir Promoter"
            class="fas fa-trash-alt"></i>
        <div class="mensagem" style="display: none;" id="div{{i['id']}}">
            <p>Tem certeza que deseja excluir esse promoter permanentemente?</p>
            <button onclick="sim({{i['id']}})" class="btn btn-success">Sim</button> <button onclick="nao({{i['id']}})"
                class="btn btn-danger">Não</button>
        </div>
        {% endif %}
    </div>
    {% endfor %}
    <div id="adddiv" class="promoter adicionarp">
        <div id="add" class="container">
            <i onclick="aparecer()" class="fas fa-plus-square"></i>
            <h5>Adicionar promoter</h5>
        </div>
        <div id="formularioadd">
            <i onclick="fechar()" class="far fa-times-circle"></i>
            <form action="/organizador/promoters" method="POST">
                <div class="form-group">
                <label for="">Novo promoter</label>
                <input required name="nome" class="form-control" type="text" placeholder="Nome"></div>
                <input required name="email" class="form-control" type="email" placeholder="E-mail"><br>
                <button name="adicionar" class="btn btn-danger" type="submit">Adicionar</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}

{% block perfil %}
    /organizador/perfil
{% endblock %}

{% block img_header %}
{{organizador[0]["urlIMG"]}}
{% endblock %}

{% block nome_header %}
{{organizador[0]["nome"]}}
{% endblock %}

{% block nav %}
<li class="nav-item">
    <a class="nav-link" href="/organizador">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/organizador/geral">Geral</a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="/organizador/promoters">Promoters</a>
</li>
{% endblock %}
{% block script %}
<script>
    function aparecer() {
        formularioadd.style.display = 'block';
        adddiv.style.width = '36vmin'
        adddiv.style.height = '35%'
        add.style.display = 'none';
        setTimeout(() => {
            formularioadd.style.opacity = '1'
            add.style.opacity = '0'
        }, 1);
    }
    function fechar() {
        setTimeout(() => {
            formularioadd.style.opacity = '0'
            add.style.opacity = '1'
        }, 1);
        formularioadd.style.display = 'none';
        if(screen.width <= 972){
            adddiv.style.width = '60vmin'
        }
        else{
            adddiv.style.width = '32vmin'
        }
        adddiv.style.height = '32vmin'
        add.style.display = 'block';
        
    }

    function mensagem(entrada) {
        let nomediv = 'div' + entrada
        let nomelix = 'lixeira' + entrada
        let divint = 'divint' + entrada
        setTimeout(() => {
            document.getElementById(nomediv).style.opacity = '1'
            document.getElementById(nomelix).style.display = '0'
        }, 50);
        document.getElementById(nomediv).style.display = 'block'
        document.getElementById(nomelix).style.display = 'none'
        if(screen.width <= 382){
            document.getElementById(divint).style.height = '62vmin';
        }
        else if(screen.width <= 438){
            document.getElementById(divint).style.height = '58vmin';
        }
        else if(screen.width <= 443){
            document.getElementById(divint).style.height = '52vmin';
        }
        else if (screen.width <= 535){
            document.getElementById(divint).style.height = '46vmin';
        }
        else if (screen.width <= 555){
            document.getElementById(divint).style.height = '50vmin';
        }
        else{
            document.getElementById(divint).style.height = '45vmin';
        }  
    }

    function nao(entrada) {
        let nomediv = 'div' + entrada
        let nomelix = 'lixeira' + entrada
        let divint = 'divint' + entrada
        document.getElementById(nomelix).style.display = 'block'
        setTimeout(() => {
            document.getElementById(nomediv).style.opacity = '0'
            document.getElementById(nomelix).style.opacity = '1'
        }, 1);
        document.getElementById(divint).style.height = '33vmin';
        document.getElementById(nomediv).style.display = 'none'   
    }

    function sim(entrada) {
        let formulario = 'formulario' + entrada
        document.getElementById(formulario).submit();
    }
</script>
{% endblock %}