{% extends "layout1.html" %}

{% block css %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="../static/perfilP.css">
{% endblock %}

{% block title %}
    {% for linha in user %}
        {{linha["nome"]}}
    {% endfor %}
{% endblock %}


{% block body %}
<div class="pai">
    {% for i in user %}
    <div class="img" style="background-image: url({{i['urlcapa']}});">
        <img src="{{i['urlIMG']}}" alt="">
        {{i["nome"]}}
        {% endfor %}
    </div>
    <div class="info">
        <div class="dados">
            <div class="dado1">
                <p>
                    {{quant}} <br>
                    Ingressos Vendidos
                </p>
            </div>
            <div class="dado2">
                <p>
                    50 <br>
                    Meta de Vendas
                </p>
            </div>
        </div>
        <div class="alterar">
            <div class="editar" id="editar" onclick="mostrarOpcoes()">
                Editar Perfil
            </div>
            <div class="card AjudaCard" id="card1">
                <img src="../static/img/perfil/exemplo.png" alt="" id="img_troca">
                <div class="card-body">
                    <h5 class="card-title" id="titulo_card">Troque sua Foto</h5>
                    <p class="card-text" id="text_card">Cole o endereço da imagem aqui.</p>
                    <form action="/perfil_promoter" method="POST" id="formTrocas">
                        <input type="text" placeholder="URL" autofocus id="inputTroca"> <br>
                        <button type="submit">Trocar</button>
                    </form>
                </div>
            </div>
            <span id="fechar_cards" onclick="fechar()">X</span>
        </div>
    </div>
    <div class="dash">
        <div class="grafico1">
            <p>{{quant}}/50</p>
            <div class="grafico10">
                <label for="copo" id="label_gf10">Continua que ta Perto</label> <br>
                <img id="copo" src="../static/img/perfil/copoM.png" alt="">
            </div>
        </div>
        <div class="grafico2">
            <canvas id="canvas" class="can"></canvas>
        </div>
        <div class="grafico3">
            <canvas id="canvas2" class="can2"></canvas>
        </div>
    </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<script>

    function mostrarOpcoes(){
        editar.setAttribute(onclick, '');
        editar.innerHTML = `<button onclick = "fotoPerfil(); perfil()">Perfil</button><button onclick = "fotoPerfil(); capa()">Capa</button><button onclick = "fotoPerfil(); nome()">Nome</button>`
    }

    function fotoPerfil(){
        card1.style.display = 'block'
        fechar_cards.style.display = 'block'
        setTimeout(() => {
            card1.style.opacity = '1' 
            fechar_cards.style.opacity = '1' 
        }, 50);
        inputTroca.placeholder = 'URL';
        titulo_card.innerHTML = "Troque sua Foto"
        text_card.innerHTML = "Cole o endereço da imagem aqui."
        img_troca.src = '../static/img/perfil/exemplo.png';
    }

    function capa(){
        inputTroca.name = "urlCapa";
    }
    function perfil(){
        inputTroca.name = 'urlPerfil';
    }
    function nome(){
        inputTroca.name = 'nome';
        inputTroca.placeholder = 'Nome';
        titulo_card.innerHTML = "Troque seu nome."
        text_card.innerHTML = "Informe o nome que você deseja."
        img_troca.src = '../static/img/logo.png';
    }

    function fechar(){
        card1.style.opacity = '0' 
        fechar_cards.style.opacity = '0' 
        setTimeout(() => {
            card1.style.display = 'none'
            fechar_cards.style.display = 'none'
        }, 1000);
        editar.setAttribute(onclick, 'mostrarOpcoes()');
        editar.innerHTML = 'Editar Perfil'
    }

    let total = '{{quant}}';
    function verificar(){
        if (total <= 25){
            label_gf10.innerHTML = "Vai vender Ingresso Peste."
            copo.src = '../static/img/perfil/copoV.png'
        }
        else if (total <= 49){
            label_gf10.innerHTML = "Continua que ta Perto."
            copo.src = '../static/img/perfil/copoM.png'
        }
        else{
            label_gf10.innerHTML = "Estourou cachorro."
            copo.src = '../static/img/perfil/copoC.png'
        }
    }
    verificar();

    let fem = '{{fem}}'
    let masc = '{{masc}}'
    var config = {
        type: 'pie',
        data: {
            labels: [ // Date Objects
                'Mulheres', 'Homens'
            ],
            datasets: [{
                label: 'Número de Compras por Gênero',
                backgroundColor: ["rgba(255, 0, 0, 0.4)", "rgba(255, 0, 0, 0.7)"],
                data: [fem, masc],
            }]
        },
        options: {
            legend: {
                labels: {
                    fontColor: 'white'
                }
            },
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                xAxes: [{
                    display: false
                }],
                yAxes: [{
                    display: false,
                    ticks: {
                        min: 0
                    },
                }]
            },
        }
    };
    
    // Grafico 2______________________________________________________________________________________________________________________________________ 
    let data = JSON.parse('{{data | tojson}}')
    let ingressos = JSON.parse('{{ingressos | tojson}}')

    var config2 = {
        type: 'bar',
        data: {
            labels: [],
            datasets: [{
                label: 'Vendas X Data',
                backgroundColor: 'black',
                borderColor: 'rgba(255,255,255,1)',
                borderWidth: 3,
                data: [],
            }]
        },
        options: {
            legend: {
                display: true,
                labels: {
                    fontColor: '#ffffff'
                }
            },
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                xAxes: [{
                    scaleLabel: {
						display: true,
						label: 'Data'
					}
                }],
                yAxes: [{
                    scaleLabel: {
						display: true,
						label: 'Vendas'
					},
                    ticks: {
                        min: 0
                    },
                }]
            },
        }
    };
    let total_datas = '{{total_datas}}'
    for(let i = 0; i < total_datas; i++){
        config2.data.labels.push(data[i])
        config2.data.datasets[0].data.push(ingressos[i])
    }
    // Renderização dos gráficos
    window.onload = function () {
        var ctx = document.getElementById('canvas').getContext('2d');
        window.myLine = new Chart(ctx, config);
        var ctx2 = document.getElementById('canvas2').getContext('2d');
        window.myLine = new Chart(ctx2, config2);
    };

</script>
{% endblock %}

{% block img_header %}
    {% for linha in user %}
        {{linha["urlIMG"]}}
    {% endfor %}
{% endblock %}

{% block perfil %}
    /perfil_promoter
{% endblock %}

{% block nome_header %}
    {% for linha in user %}
        {{linha["nome"]}}
    {% endfor %}
{% endblock %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="/promoter">Home</a>
    </li>
{% endblock %}
