{% extends "layout1.html" %}

{% block css %}
    <link rel="stylesheet" href="../static/promoter.css">
{% endblock %}

<script src="https://kit.fontawesome.com/c8284bd1fb.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

{% block title %}
    {% for linha in promoter %}
        {{linha["nome"]}}
    {% endfor %}
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Data da Compra</th>
            <th scope="col">Sexo</th>
            <th scope="col">Lote</th>
        </tr>
    </thead>
    <tbody>
        {% for i in banco %}
        <tr>
            <td>{{i["nomeCliente"]}}</td>
            <td>{{i["dataCompra"]}}</td>
            <td>{{i["sexo"]}}</td>
            <td>{{i["Lote"]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>

<!-- quando clicar em um botão atualizar aparecerá um formulário para informar qual campo ele quer alterar -->
<div class="acoes">
    <div class="icone1" id="icone1">
        <i class="fas fa-undo-alt" onclick="alterarCliente()"></i><br>
        Alterar Cliente
    </div>
    
    <div class="form1" id="form1">
        <form action="/promoter" method="POST">
            <select name="SC" id="">
                {% for i in banco %}
                    <option value="{{i['idLista']}}">{{i["nomeCliente"]}}</option>
                {% endfor %}
            </select>
            <br><br>
            <input tabindex="1" name="nome" autofocus placeholder="nome"><br>
            Sexo: <br> Masculino <input value="M" tabindex="2" name="sexo" type="checkbox"> Feminino <input value="F"
                tabindex="2" name="sexo" type="checkbox">
            <br>
            <button class="btn btn-danger btnIndex" tabindex="3" type="submit">Entrar</button>
        </form>
    </div>

    <div class="icone2" id="icone2">
        <i class="fas fa-plus-square" onclick="addCliente()"></i> <br>
        Adicionar Cliente
    </div>

    <div class="form2" id="form2">
        <form action="/del_cliente" method="POST">
            <input tabindex="4" name="nome" autofocus placeholder="nome"><br>
            Sexo: Masculino <input value="M" tabindex="5" name="sexo" type="checkbox"> Feminino <input value="F"
                tabindex="6" name="sexo" type="checkbox"><br>
            <input tabindex="7" name="lote" autofocus placeholder="lote"><br>
            <input tabindex="8" name="data" autofocus placeholder="AAAA-MM-DD"><br>
            <button class="btn btn-danger btnIndex" tabindex="9" type="submit">Entrar</button>
        </form>
    </div>
</div>

<script>
    function addCliente(){
        form2.style.left = '56%';
        icone2.style.opacity = '0'
    }
    function alterarCliente(){
        form1.style.left = '6%';
        icone1.style.opacity = '0'
    }
</script>
{% endblock %}

{% block img_header %}
    {% for linha in promoter %}
        {{linha["urlIMG"]}}
    {% endfor %}
{% endblock %}

{% block nome_header %}
    {% for linha in promoter %}
        {{linha["nome"]}}
    {% endfor %}
{% endblock %}