{% extends "layoutprovi.html" %}

<!-- {% block head %}
    <link rel="stylesheet" href="../static/login.css">
{% endblock %} -->

{% block title %}
    {% for linha in banco %}
        {{linha["nomePromoter"]}}
    {% endfor %}
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Data da Compra</th>
            <th scope="col">Sexo</th>
            <th scope="col">Lote</th>
        </tr>
    </thead>
    <tbody>
        {% for i in banco %}
        <tr>
            <td>{{i["nome"]}}</td>
            <td>{{i["email"]}}</td>
            <td><img src="{{i['urlIMG']}}" style="height: 150px"></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}